body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #7eadc9;
  font-size: 1.4rem;
  margin: 0;
}

.AppTitle {
  background-color: #182d3a;
  color: white;
  font-size: 2rem;
}

.TitleText {
  margin: 0;
}
