.LoginButton {
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 30px;
  background-color: #e9e4d9;
  transition: 0.2s;
  font-weight: bolder;
}

.LoginButton:hover {
  background-color: #f0d2cb;
  transform: scale(1.1);
  box-shadow: 2px 2px;
}

.G1 {
  color: #4285f4;
}
.O1 {
  color: #ea4335;
}
.O2 {
  color: #fbbc05;
}

.G2 {
  color: #4285f4;
}
.L {
  color: #34a853;
}
